* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url(logo.png.jpeg);
  background-size: cover;
  background-position: center center;
}
/* header start */
header {
  width: 100vw;
  height: 90px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31e2f2;
}
header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
header ul {
  margin-right: 10px;
  display: flex;
  gap: 30px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: black;
}
/* header ends */
main h1 {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
