* {
  margin: 0;
  padding: 0;
}
div {
  width: 100px;
  height: 100px;
  margin: 20px;
  position: relative;
  background-color: aqua;
  animation: anime 2s 1s 2 linear both;
}
@keyframes anime {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
    border-radius: 50%;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
